:root {
  --grey: #bbc6ce;
  --green: #259d50;
  --lowgreen: rgba(37, 157, 81, 0.92);
  --red: #ce061f;
}

article.slides {
  background: rgba(211, 192, 177, 0.8);
  margin-bottom: 1rem;
  border-radius: 10px;
  backdrop-filter: blur(15px);
  background-color: transparent;
  position: relative;
  padding: 10px;
}

.slides button,
.slides input,
.actu input {
  outline: none;
  border: none;
  opacity: 0;
}

.slides input[type="radio"],
.actu input[type="radio"] {
  position: absolute;
  top: -5000px;
  left: -5000px;
  opacity: 0;
  z-index: -1000;
}

.slider {
  width: 370px;
  height: 370px;
  position: relative;
}
.slide {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slide img {
  width: 340px;
  height: 340px;
  opacity: 0;
  transition: opacity 2500ms;
  border-radius: 10px;
}
#page1:checked ~ .slide1 img,
#page2:checked ~ .slide2 img,
#page3:checked ~ .slide3 img,
#page4:checked ~ .slide4 img,
#page5:checked ~ .slide5 img,
#page6:checked ~ .slide5 img,
#page7:checked ~ .slide7 img,
#page8:checked ~ .slide8 img {
  opacity: 1;
}

.link1,
.link2,
.link3,
.link4 {
  display: none;
}

#actu1:checked ~ .link1,
#actu2:checked ~ .link2,
#actu3:checked ~ .link3,
#actu4:checked ~ .link4 {
  display: block;
}
