:root {
  --grey: rgb(187, 198, 206);
  --green: #259d50;
  --lowgreen: rgba(37, 157, 81, 0.92);
  --red: #ce061f;
  --lowbrown: rgba(211, 192, 177, 0.8);
}

article.slides {
  background: var(--lowbrown);
  margin-bottom: 1rem;
  border-radius: 10px;
  backdrop-filter: blur(15px);
  background-color: transparent;
  position: relative;
  padding: 10px;
}

.slides button,
.slides input,
.actu input,
.ibrahim input {
  outline: none;
  border: none;
  opacity: 0;
}

.slides input[type="radio"],
.actu input[type="radio"],
.ibrahim input[type="radio"] {
  position: absolute;
  top: -5000px;
  left: -5000px;
  opacity: 0;
  z-index: -1000;
}

.slider,
.slider2 {
  width: 370px;
  height: 370px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider1,
.slider2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slider1 img {
  width: 340px;
  height: 340px;
  opacity: 0;
  transition: opacity 2500ms;
  border-radius: 10px;
}
.slider2 {
  overflow: hidden;
}
.slider2 img {
  width: min(340px, 78%);
  height: 100%;
  opacity: 0;
  transition: opacity 1500ms;
  border-radius: 10px;
  object-fit: contain;
}
#page1:checked ~ .slide1 img,
#page2:checked ~ .slide2 img,
#page3:checked ~ .slide3 img,
#page4:checked ~ .slide4 img,
#page5:checked ~ .slide5 img,
#page6:checked ~ .slide5 img,
#page7:checked ~ .slide7 img,
#page8:checked ~ .slide8 img {
  opacity: 1;
}
#ibrahim1:checked ~ .ibrahim1 img,
#ibrahim2:checked ~ .ibrahim2 img,
#ibrahim3:checked ~ .ibrahim3 img,
#ibrahim4:checked ~ .ibrahim4 img,
#ibrahim5:checked ~ .ibrahim5 img,
#ibrahim6:checked ~ .ibrahim6 img {
  opacity: 1;
}
