@font-face {
  font-family: "/assets/fonts/Luciole ";
  src: url("/assets/fonts/Luciole -Regular.eot"); /* IE9 Compat Modes */
  src: url("/assets/fonts/Luciole -Regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/Luciole -Regular.woff") format("woff"),
    /* Modern Browsers */ url("/assets/fonts/Luciole -Regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/assets/fonts/Luciole -Regular.svg#Luciole -Regular") format("svg"); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "/assets/fonts/Luciole ";
  src: url("/assets/fonts/Luciole -Bold.eot"); /* IE9 Compat Modes */
  src: url("/assets/fonts/Luciole -Bold.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/Luciole -Bold.woff") format("woff"),
    /* Modern Browsers */ url("/assets/fonts/Luciole -Bold.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/assets/fonts/Luciole -Bold.svg#Luciole -Bold") format("svg"); /* Legacy iOS */
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "/assets/fonts/Luciole ";
  src: url("/assets/fonts/Luciole -Italic.eot"); /* IE9 Compat Modes */
  src: url("/assets/fonts/Luciole -Italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/Luciole -Italic.woff") format("woff"),
    /* Modern Browsers */ url("/assets/fonts/Luciole -Italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/assets/fonts/Luciole -Italic.svg#Luciole -Italic") format("svg"); /* Legacy iOS */
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "/assets/fonts/Luciole ";
  src: url("/assets/fonts/Luciole -BoldItalic.eot"); /* IE9 Compat Modes */
  src: url("/assets/fonts/Luciole -BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/Luciole -BoldItalic.woff") format("woff"),
    /* Modern Browsers */ url("/assets/fonts/Luciole -BoldItalic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/assets/fonts/Luciole -BoldItalic.svg#Luciole -BoldItalic")
      format("svg"); /* Legacy iOS */
  font-style: italic;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
/* Ces fontes sont distribuées gratuitement sous Licence publique Creative Commons Attribution 4.0 International :
https://creativecommons.org/licenses/by/4.0/legalcode.fr
These fonts are freely available under Creative Commons Attribution 4.0 International Public License:
https://creativecommons.org/licenses/by/4.0/legalcode
Luciole © Laurent Bourcellier & Jonathan Perez

Le caractère typographique Luciole a été conçu spécifiquement pour les personnes malvoyantes. 
Ce projet est le résultat de plus de deux années de collaboration entre le Centre Technique Régional pour la Déficience Visuelle 
et le studio typographies.fr. Le projet a bénéficié d'une bourse de la Fondation suisse Ceres et de l'appui du laboratoire DIPHE 
de l'Université Lumière Lyon 2.
 */

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Luciole", sans-serif;
}
html::-webkit-scrollbar {
  display: none;
}
:root {
  --grey: #bbc6ce;
  --green: #259d50;
  --lowgreen: rgba(37, 157, 81, 0.92);
  --red: #ce061f;
  --black: black;
  --white: whitesmoke;
  --bg1: rgba(245, 245, 245, 0.8);
  --bg: rgba(255, 255, 255, 0.7);
}
.grey {
  color: var(--grey);
}
.green {
  color: var(--green);
}
.red {
  color: var(--red);
}
html {
  background-image: url(../assets/images/colombe-green.svg);
  background-size: 45%;
  background-repeat: no-repeat;
  background-position: center calc(100% - 30px);
}
body {
  position: relative;
  min-height: 100dvh;
}
li {
  list-style: none;
}
a {
  cursor: url("../assets/images/colombe-green.svg"), pointer;
  font-weight: bold;
}
a.normal-link {
  color: var(--green);
  text-decoration: underline var(--green);
}
h1 {
  background-color: var(--black);
  color: var(--white);
  padding: 5px 20px 20px 20px;
  border-radius: 15px;
  font-size: 3rem;
}
h2 {
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--green);
  padding: 0.5rem;
  border-radius: 5px;
  text-transform: uppercase;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width: 90dvw;
  text-align: center;
}
h3 {
  text-transform: uppercase;
  color: var(--red);
  padding-right: 50px;
  padding-bottom: 10px;
}

p::first-letter {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--green);
  text-transform: uppercase;
}
p.no-maj::first-letter {
  font-size: initial;
  font-weight: initial;
  color: initial;
}

header {
  background-color: var(--green);
  width: 100dvw;
  height: 31dvh;
  background-image: url(../assets/images/banner2.webp);
  background-position: center;
  background-size: auto max(380px, 31dvh);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 2.5dvw;
  gap: 1dvw;
  justify-content: space-between;
  position: relative;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

nav {
  background-color: var(--black);
  position: absolute;
  top: 30dvh;
  left: 0;
  padding: 1dvw;
  font-size: 1.5rem;
  text-transform: uppercase;
  z-index: 9;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
nav a {
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
}

section {
  min-height: 100dvh;
  width: 100dvw;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding-top: 5dvh;
  position: relative;
  padding-top: 10dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2dvh;
}
article {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg1);
  padding: 2dvh;
  border-radius: 5px;
  gap: 1dvh;
  max-width: 500px;
  position: relative;
  margin-bottom: 1rem;
}
article .more-pad:last-child {
  padding-bottom: 1rem;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: relative;
}
figure img {
  width: 70%;
}
figcaption {
  padding-bottom: 2rem;
}
.attention {
  padding: 0 0.5rem;
  border-radius: 20px;
  margin-right: 0.5rem;
  text-decoration: none;
  font-weight: bold;
}
.attention1 {
  color: var(--white);
  background-color: var(--red);
}
.attention2 {
  color: var(--red);
  background-color: var(--white);
}

.container {
  display: none;
  /* display: block; */
}

/* header */
.header-top {
  width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  height: 20dvh;
  border-radius: 50%;
}

.nav {
  width: 100dvw;
  display: flex;
  justify-content: space-evenly;
}
.title-container {
  position: relative;
  overflow: hidden;
}
.subtitle {
  width: 100%;
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translateX(-50%);
  color: var(--white);
  font-size: 1rem;
}
.link-top {
  position: absolute;
  right: 5px;
  bottom: 15px;
}
.link-top a {
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
}
.bigger {
  font-size: 1.2rem;
  font-weight: bold;
}
/* bg sections */
.actu {
  width: 95dvw;
  max-width: 1000px;
  min-height: 4.5rem;
  background-color: var(--green);
  display: flex;
  align-items: center;
  color: var(--white);
  font-size: 1.2rem;
  padding: 10px;
  justify-content: space-between;
  border-radius: 2px 15px;
}
.actu p {
  text-transform: uppercase;
  padding-right: 15px;
  padding-left: 5px;
  font-weight: bold;
}
#brief-links {
  text-align: left;
  flex-grow: 1;
  max-width: 80%;
}
.actu p::first-letter {
  color: var(--white);
}
.actu a {
  color: black;
  cursor: url("../assets/images/colombe-white.svg"), pointer;
}
.accueil {
  min-height: 70dvh;
  background-image: url(../assets/images/bg1.webp);
}
.agenda {
  background-image: url(../assets/images/bg2.webp);
}
.comprendre {
  background-image: url(../assets/images/bg3.webp);
}
.liens {
  background-image: url(../assets/images/bg4.webp);
}
.contact {
  background-image: url(../assets/images/bg5.webp);
}
/* nav */
.desk-nav li ul {
  display: none;
}
.desk-nav li:hover ul {
  display: inherit;
  position: fixed;
  background-color: var(--black);
  padding: 2dvh;
  border-radius: 0 0 10px 100px;
}
.desk-nav a:hover {
  color: var(--red);
}
a.active {
  color: var(--green);
}
/* ancres */
#agenda,
#comprendre,
#liens,
#contact {
  position: absolute;
  top: 0;
}
#bds,
#films,
#order {
  position: absolute;
  top: -10dvh;
}
#cagnotte,
#audience {
  position: absolute;
  top: -5rem;
}

.title {
  display: flex;
  justify-content: center;
  position: relative;
}

/* liens */
.agenda a,
.comprendre a,
.liens a,
.contact a {
  background-color: var(--white);
  padding: 0.2rem;
  border-radius: 2px;
}
.margin-link1 {
  position: absolute;
  bottom: 0;
  right: 0;
}
.margin-link2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 90%;
  display: flex;
  justify-content: end;
  gap: 2rem;
}
.liens h3 {
  width: 100%;
  font-size: 1.8rem;

  text-align: center;
}

/* accueil */
.youtube-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* agenda */
.agenda-frame {
  max-width: 90dvw;
  max-height: 90dvh;
}

.agenda-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1dvh;
}
.agenda-container aside {
  display: flex;
  justify-content: space-around;
}
.agenda-container aside div {
  width: 30%;
  flex-grow: 0.3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.agenda-container aside iframe {
  width: 550px;
  height: 400px;
}

.black-bg {
  background-color: var(--black);
  color: var(--white);
  padding: 0.5rem 0.8rem;
  border-radius: 2px;
  max-width: min(90dvw, 900px);
}
.black-bg::first-letter {
  font-size: inherit;
  color: var(--red);
}

/* accueil */

.accueil-container {
  width: 90dvw;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 2dvh;
  border-radius: 5px;
  gap: 1dvh;
}
.accueil-container ul {
  display: flex;
  flex-direction: column;
  gap: 1dvh;
}

/* actions comprendre */
.actions {
  width: 90dvw;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 2dvh;
  border-radius: 5px;
  gap: 1dvh;
}
.actions-group {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.actions h3::-webkit-scrollbar,
.actions a::-webkit-scrollbar {
  display: none;
}
.actions article div {
  max-height: 55dvh;
}

/* comprendre */
.futher {
  width: 90dvw;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
  padding: 2dvh;
  border-radius: 5px;
  gap: 1dvh;
}

.futher article {
  max-width: 45%;
  display: flex;
  justify-content: space-between;
}
.pdf embed {
  width: 100%;
  height: 300px;
}

.h3-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.ourien {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
}
.ourien a {
  background-color: transparent;
}
article.futher_large {
  max-width: 90%;
}
.futher-img_large {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.futher-img_large img {
  max-width: 45%;
}
#root .futher-img_large img {
  max-width: 95%;
}

/* articles */
.float-right {
  width: 35%;
  margin: 3rem 1rem;
  float: right;
}
.float-right_grow:hover {
  /* min-width: 50dvw;
  max-width: 250px;
  max-height: 50dvh;
  object-fit: contain;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99; */
  /* object-fit: contain;
  position: absolute;
  min-width: 100%;
  top: 50%;
  left: 50%; */
  transform: rotate(3deg);
  z-index: 99;
}
.articles .float-right_grow:hover {
  width: 80%;
  height: 80%;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
}
.article-img {
  max-width: 95%;
}
.article-img:hover {
  max-width: 99%;
}
.articles article {
  overflow: visible;
}
/* liens */
.liens article {
  max-width: 85%;
  align-items: start;
}
.liens {
  padding-bottom: 5rem;
}
.liens h3 {
  margin-bottom: 1rem;
}
.liens p {
  margin-bottom: 0.5rem;
}
.link-container {
  padding: 0.5rem 0;
}

/* burger */
.sidenav {
  height: 100%;
  width: 70%;
  max-width: 275px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -81vw;
  background-color: var(--green);
  padding-top: 60px;
  padding-right: 5px;
  transition: left 0.5s ease;
}
.openBtn {
  position: fixed;
  top: 1dvh;
  left: 1dvh;
  z-index: 1;
  cursor: url("../assets/images/colombe-green.svg"), pointer;
  transition: all 0.8s ease;
}
.sidenav,
.openBtn {
  display: none;
}
.sidenav a {
  padding: 8px 8px 8px 24px;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--white);
  display: block;
  transition: 0.3s;
  font-weight: bold;
  cursor: url("../assets/images/colombe-red.svg"), pointer;
}
.sidenav a.active {
  color: var(--green);
}
nav a.links_w {
  color: var(--white);
}
.sidenav a:hover {
  color: var(--red);
}
.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.sidenavLi {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}
.sidenavLi a {
  padding-left: 8px;
  color: var(--bg1);
}
.sidenavLi::before {
  content: "\0025B8";
  color: var(--bg1);
}
.sidenav.visible {
  left: 0;
}
.openBtn.visible {
  opacity: 0;
}
.sidenav .close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  color: var(--white);
  border: solid 3px var(--white);
  border-radius: 50%;
  text-align: center;
  line-height: 22px;
  cursor: url("../assets/images/colombe-red.svg"), pointer;
}
.sidenav .close:hover {
  color: var(--red);
  border: solid 3px var(--red);
  background-color: var(--white);
}
.burger-icon span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: var(--red);
  margin: 6px 3px;
}
.sidenav button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  border: none;
}

/* loader */

.loader {
  min-width: 100dvw;
  min-height: 100dvh;
  background-color: var(--grey);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  overflow: hidden;
}
.bird {
  position: absolute;
  width: 60px;
  height: 40px;
  z-index: 999;
  background-size: contain;
  background-repeat: no-repeat;
}
.bird1 {
  top: 50px;
  animation-delay: -2s !important;
  -webkit-animation-delay: -2s !important;
  transform: scale(1.9);
  -webkit-transform: scale(1.9);
  -ms-transform: scale(1.9);
  background-image: url(../assets/images/colombe-black.svg);
}
.bird2 {
  top: 100px;
  animation-delay: -1s !important;
  -webkit-animation-delay: -1s !important;
  transform: scale(2);
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  background-image: url(../assets/images/colombe-black.svg);
  margin-left: 20dvw;
}
.bird3 {
  top: 200px;
  animation-delay: -3s !important;
  -webkit-animation-delay: -3s !important;
  transform: scale(2.4);
  -webkit-transform: scale(2.4);
  -ms-transform: scale(2.4);
  background-image: url(../assets/images/colombe-black.svg);
  margin-left: 40dvw;
}

.bird4 {
  top: 50px;
  animation-delay: -12s !important;
  -webkit-animation-delay: -12s !important;
  transform: scale(1.9);
  -webkit-transform: scale(1.9);
  -ms-transform: scale(1.9);
  background-image: url(../assets/images/colombe-black.svg);
  margin-left: -20dvw;
}
.bird5 {
  top: 100px;
  animation-delay: -16s !important;
  -webkit-animation-delay: -16s !important;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  background-image: url(../assets/images/colombe-black.svg);
}
.bird6 {
  top: 200px;
  animation-delay: -20s !important;
  -webkit-animation-delay: -20s !important;
  transform: scale(2.4);
  -webkit-transform: scale(2.4);
  -ms-transform: scale(2.4);
  background-image: url(../assets/images/colombe-red.svg);
  margin-left: 12dvw;
}
.bird7 {
  top: 250px;
  animation-delay: -13s !important;
  -webkit-animation-delay: -13s !important;
  transform: scale(2.2);
  -webkit-transform: scale(2.2);
  -ms-transform: scale(2.2);
  background-image: url(../assets/images/colombe-red.svg);
  margin-left: 24dvw;
}

.bird8 {
  top: 450px;
  animation-delay: -18s !important;
  -webkit-animation-delay: -18s !important;
  transform: scale(0.8);
  background-image: url(../assets/images/colombe-red.svg);
  margin-left: 36dvw;
}
.bird9 {
  top: 120px;
  animation-delay: -36s !important;
  -webkit-animation-delay: -36s !important;
  transform: scale(1.6);
  -webkit-transform: scale(1.6);
  -ms-transform: scale(1.6);
  background-image: url(../assets/images/colombe-red.svg);
  margin-left: -10dvw;
}
.bird10 {
  top: 930px;
  animation-delay: -10s !important;
  -webkit-animation-delay: -10s !important;
  transform: scale(2.6);
  -webkit-transform: scale(2.6);
  -ms-transform: scale(2.6);
  background-image: url(../assets/images/colombe-green.svg);
}
.bird11 {
  top: 225px;
  animation-delay: -5s !important;
  -webkit-animation-delay: -5s !important;
  transform: scale(1.7);
  -webkit-transform: scale(1.7);
  -ms-transform: scale(1.7);
  background-image: url(../assets/images/colombe-green.svg);
  margin-left: 5dvw;
}
.bird12 {
  top: 275px;
  animation-delay: -15s !important;
  -webkit-animation-delay: -15s !important;
  transform: scale(2.4);
  -webkit-transform: scale(2.4);
  -ms-transform: scale(2.4);
  background-image: url(../assets/images/colombe-green.svg);
  margin-left: 11dvw;
}
.bird13 {
  top: 375px;
  animation-delay: -8s !important;
  -webkit-animation-delay: -8s !important;
  transform: scale(2.1);
  -webkit-transform: scale(2.1);
  -ms-transform: scale(2.1);
  background-image: url(../assets/images/colombe-green.svg);
  margin-left: 21dvw;
}

.bird14 {
  top: 25px;
  animation-delay: -28s !important;
  -webkit-animation-delay: -28s !important;
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  background-image: url(../assets/images/colombe-green.svg);
  margin-left: 38dvw;
}
.bird15 {
  top: 275px;
  animation-delay: -6s !important;
  -webkit-animation-delay: -6s !important;
  transform: scale(2.3);
  -webkit-transform: scale(2.3);
  -ms-transform: scale(2.3);
  background-image: url(../assets/images/colombe-white.svg);
}
.bird16 {
  top: 375px;
  animation-delay: -9s !important;
  -webkit-animation-delay: -9s !important;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  background-image: url(../assets/images/colombe-white.svg);
  margin-left: -30dvw;
}
.bird17 {
  top: 425px;
  animation-delay: -11s !important;
  -webkit-animation-delay: -13s !important;
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  background-image: url(../assets/images/colombe-white.svg);
  margin-left: -2dvw;
}

.bird18 {
  top: 1325px;
  animation-delay: -26s !important;
  -webkit-animation-delay: -26s !important;
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  background-image: url(../assets/images/colombe-white.svg);
  margin-left: 30dvw;
}
.bird19 {
  top: 320px;
  animation-delay: -19s !important;
  -webkit-animation-delay: -19s !important;
  transform: scale(1.6);
  -webkit-transform: scale(1.6);
  -ms-transform: scale(1.6);
  background-image: url(../assets/images/colombe-white.svg);
  margin-left: 42dvw;
}
.bird20 {
  top: 595px;
  animation-delay: -30s !important;
  -webkit-animation-delay: -30s !important;
  transform: scale(2);
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  background-image: url(../assets/images/colombe-red.svg);
}
.bird {
  animation: move 18s infinite alternate;
  -moz-animation: move 18s infinite alternate;
  z-index: -1;
}

@keyframes move {
  0% {
    left: 0%;
  }
  20% {
    left: 20%;
    top: 50%;
  }
  40% {
    top: 50%;
    left: 60%;
  }
  60% {
    top: 100%;
    left: 100%;
  }
  80% {
    top: 0%;
    left: 20%;
  }
  100% {
    top: 30%;
    left: 20%;
  }
}
@-webkit-keyframes move {
  0% {
    left: 0%;
  }
  20% {
    left: 20%;
    top: 50%;
  }
  40% {
    top: 30%;
    left: 60%;
  }
  60% {
    top: 80%;
    left: 100%;
  }
  80% {
    top: 0%;
    left: 20%;
  }
  100% {
    top: 30%;
    left: 20%;
  }
}
.loader-text_small {
  display: none;
}
.loader-text,
.loader-text_small {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  padding: 1rem;
  line-height: rem;
  text-align: center;
}
/* .loader-text_small {
  left: 70%;
} */
.loader-text::before {
  width: 200%;
  animation: change-text 1500ms 2;
  -webkit-animation: change-text 1500ms 2;
  content: "A.F.P.S DINAN (22)";
  font-size: 2.2rem;
  font-weight: bold;
  color: var(--red);
  box-shadow: 0 0 15px 0 var(--green);
  background: inherit;
  /* backdrop-filter: blur(20px); */
  border-radius: 5px;
  text-align: center;
  -webkit-text-stroke: 1px var(--green);
  text-transform: uppercase;
  margin: auto;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.4);
}

@keyframes change-text {
  0% {
    content: "";
    color: var(--green);
    -webkit-text-stroke: 1px var(--red);
  }
  6% {
    content: "A";
  }
  12% {
    content: "A.";
  }
  18% {
    content: "A.F";
  }
  24% {
    content: "A.F.";
  }
  30% {
    content: "A.F.P ";
  }
  36% {
    content: "A.F.P. ";
  }
  41% {
    content: "A.F.P.S";
  }
  46% {
    content: "A.F.P.S D";
  }
  52% {
    content: "A.F.P.S DI";
    color: var(--red);
    -webkit-text-stroke: 1px var(--green);
  }
  58% {
    content: "A.F.P.S DIN";
  }
  63% {
    content: "A.F.P.S DINA";
  }
  69% {
    content: "A.F.P.S DINAN";
  }
  74% {
    content: "A.F.P.S DINAN (";
  }
  82% {
    content: "A.F.P.S DINAN (2";
    color: var(--green);
    -webkit-text-stroke: 1px var(--red);
  }
  88% {
    content: "A.F.P.S DINAN (22";
  }
  95% {
    content: "A.F.P.S DINAN (22)";
    color: black;
    -webkit-text-stroke: 1px var(--grey);
  }

  100% {
    content: "A.F.P.S DINAN (22)";
  }
}
@-webkit-keyframes change-text {
  0% {
    content: "";
    color: var(--green);
    -webkit-text-stroke: 1px var(--red);
  }
  6% {
    content: "A";
  }
  12% {
    content: "A.";
  }
  18% {
    content: "A.F";
  }
  24% {
    content: "A.F.";
  }
  30% {
    content: "A.F.P ";
  }
  36% {
    content: "A.F.P. ";
  }
  41% {
    content: "A.F.P.S";
  }
  46% {
    content: "A.F.P.S D";
  }
  52% {
    content: "A.F.P.S DI";
    color: var(--red);
    -webkit-text-stroke: 1px var(--green);
  }
  58% {
    content: "A.F.P.S DIN";
  }
  63% {
    content: "A.F.P.S DINA";
  }
  69% {
    content: "A.F.P.S DINAN";
  }
  74% {
    content: "A.F.P.S DINAN (";
  }
  82% {
    content: "A.F.P.S DINAN (2";
    color: var(--green);
    -webkit-text-stroke: 1px var(--red);
  }
  88% {
    content: "A.F.P.S DINAN (22";
  }
  95% {
    content: "A.F.P.S DINAN (22)";
    color: black;
    -webkit-text-stroke: 1px var(--grey);
  }

  100% {
    content: "A.F.P.S DINAN (22)";
  }
}
.loader-text_small::before {
  /* width: 90%;
  height: 200%; */
  animation: change-text-small 1500ms 2;
  -webkit-animation: change-text-small 1500ms 2;
  content: "A.F.P.S DINAN (22)";
  color: var(--red);
  box-shadow: 0 0 15px 0 var(--green);
  background: inherit;
  /* backdrop-filter: blur(20px); */
  border-radius: 5px;
  /* text-align: center; */
  -webkit-text-stroke: 1px var(--green);
  text-transform: uppercase;
  margin: auto;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.4);
}

@keyframes change-text-small {
  0% {
    content: "";
    color: var(--green);
    -webkit-text-stroke: 1px var(--red);
  }
  6% {
    content: "A";
  }
  12% {
    content: "A.";
  }
  18% {
    content: "A.F";
  }
  24% {
    content: "A.F.";
  }
  30% {
    content: "A.F.P ";
  }
  36% {
    content: "A.F.P. ";
  }
  41% {
    content: "A.F.P.S";
  }
  46% {
    content: "A.F.P.S D";
  }
  52% {
    content: "A.F.P.S DI";
    color: var(--red);
    -webkit-text-stroke: 1px var(--green);
  }
  58% {
    content: "A.F.P.S DIN";
  }
  63% {
    content: "A.F.P.S DINA";
  }
  69% {
    content: "A.F.P.S DINAN";
  }
  74% {
    content: "A.F.P.S DINAN (";
  }
  82% {
    content: "A.F.P.S DINAN (2";
    color: var(--green);
    -webkit-text-stroke: 1px var(--red);
  }
  88% {
    content: "A.F.P.S DINAN (22";
  }
  95% {
    content: "A.F.P.S DINAN (22)";
    color: black;
    -webkit-text-stroke: 1px var(--grey);
  }

  100% {
    content: "A.F.P.S DINAN (22)";
  }
}
@-webkit-keyframes change-text-small {
  0% {
    content: "";
    color: var(--green);
    -webkit-text-stroke: 1px var(--red);
  }
  6% {
    content: "A";
  }
  12% {
    content: "A.";
  }
  18% {
    content: "A.F";
  }
  24% {
    content: "A.F.";
  }
  30% {
    content: "A.F.P ";
  }
  36% {
    content: "A.F.P. ";
  }
  41% {
    content: "A.F.P.S";
  }
  46% {
    content: "A.F.P.S D";
  }
  52% {
    content: "A.F.P.S DI";
    color: var(--red);
    -webkit-text-stroke: 1px var(--green);
  }
  58% {
    content: "A.F.P.S DIN";
  }
  63% {
    content: "A.F.P.S DINA";
  }
  69% {
    content: "A.F.P.S DINAN";
  }
  74% {
    content: "A.F.P.S DINAN (";
  }
  82% {
    content: "A.F.P.S DINAN (2";
    color: var(--green);
    -webkit-text-stroke: 1px var(--red);
  }
  88% {
    content: "A.F.P.S DINAN (22";
  }
  95% {
    content: "A.F.P.S DINAN (22)";
    color: black;
    -webkit-text-stroke: 1px var(--grey);
  }

  100% {
    content: "A.F.P.S DINAN (22)";
  }
}

/* mentions légales */
.legals-container {
  width: 95%;
  max-width: 1200px;
  margin: auto;
  line-height: 2rem;
  padding-bottom: 2rem;
}
.bold {
  font-weight: bold;
}
/* lang switcher */
.lang-btn {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.lang-btn button {
  padding: 1rem;
  border-radius: 0% 50% 100% 50%;
  font-weight: bold;
  font-size: 1.2rem;
  border: solid 2px var(--red);
  color: var(--red);
  background-color: black;
  line-height: 1.5rem;
  cursor: url("../assets/images/colombe-red.svg"), pointer;
}

@media screen and (max-width: 610px) {
  .loader-text {
    display: none;
  }
  .loader-text_small {
    display: block;
  }
}

footer {
  width: 100dvw;
  height: 40px;
  background-color: var(--black);
  color: var(--white);
  position: fixed;
  bottom: 0%;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lazez,
.lazez2,
.legals,
.legals2,
.lazez3,
.membres {
  font-size: 0.6rem;
}
a.lazez3 {
  width: 100%;
  color: var(--white);
  text-decoration: none;
  text-align: right;
}

a.lazez2,
a.legals2 {
  color: initial;
  text-decoration: underline;
  padding: 0.1rem 0.5rem;
  background-color: var(--white);
  border-radius: 5px;
}
a.lazez,
a.legals,
a.membres {
  color: initial;
  text-decoration: underline;
  padding: 0.1rem 0.5rem;
}
.rss {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 1;
}
.rss-txt {
  width: 25px;
  position: absolute;
  right: 8px;
  top: 35px;
  z-index: 1;
  color: var(--green);
  background-color: orange;
  font-weight: bold;
  font-size: 0.8rem;
  border-radius: 2px;
}
.rss img {
  width: 30px;
}

.articles {
  width: 100%;
  min-height: 100dvh;
  background-color: var(--lowgreen);
  position: absolute;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 999;
}
.articles article {
  /* min-width: 70dvw; */
  min-width: min(700px, 90dvw);
  /* height: 90dvh; */
  background-color: var(--grey);
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);

  padding: 2rem;
  font-size: 1.8rem;
}
.articles article p::first-letter {
  font-size: 2.2rem;
}
.articles article h3 {
  font-size: 2.2rem;
}
.close-article {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--red);
  border: none;
  background-color: var(--green);
  font-size: 1.5rem;
  font-weight: bold;
  cursor: zoom-out;
}
.plus-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: zoom-in;
}

/* FORMULAIRE DE CONTACT */
h3.link-contact-form {
  padding: 2rem;
  display: flex;
  justify-content: center;
}
.link-contact-form a {
  padding: 2rem;
  min-width: 250px;
  text-align: center;
  text-decoration: none;
}
.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90dvw;
  max-width: 1200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#contactForm {
  padding: 1rem 5rem 4rem 5rem;
  background-color: var(--green);
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  color: var(--white);
}
#contactForm fieldset {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
#contactForm label {
  display: flex;
  flex-direction: column;
}
#contactForm input {
  margin-bottom: 1rem;
}
#contactForm .ok {
  position: absolute;
  bottom: 0.5rem;
  left: 0;
  padding: 0 1rem;
  border: none;
}
#contactForm .ok div {
  display: flex;
  gap: 1rem;
  align-items: start;
  padding-top: 0.2rem;
}
#contactForm .ok input {
  margin-top: 0.3rem;
  width: 50px;
}
#contactForm .ok label {
  font-weight: normal;
  font-size: 0.8rem;
}
.send {
  margin-top: 1rem;
  cursor: pointer;
}
.send:disabled {
  cursor: not-allowed;
}

.error-msg {
  z-index: 1;
  background-color: var(--red);
  padding: 1rem;
  color: var(--white);
  display: flex;
  justify-content: center;
  width: 98dvw;
  border-radius: 5px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* RESPONSIVE */

@media screen and (max-width: 1200px) {
  .agenda-container aside iframe {
    width: 90dvw;
    max-width: 600px;
    height: 400px;
  }
  .futher {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .futher article,
  article {
    max-width: 95%;

    justify-content: center;
  }
  /* article.futher_large {
  max-width: 90%;
}
.futher-img_large {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
} */
  .futher-img_large img {
    max-width: 95%;
  }

  .rss {
    position: absolute;
    left: 50%;
    top: 5px;
    transform: translateX(-50%);
    z-index: 1;
    width: 30px;
  }
  .rss-txt {
    position: absolute;
    left: calc(50% + 35px);
    top: 15px;
    transform: translateX(-50%);
    z-index: 1;
    color: var(--green);
    font-weight: bold;
    font-size: 0.8rem;
  }
  .desk-nav {
    display: none;
  }
  header {
    height: 40dvh;
  }
  .title-container {
    width: auto;
    min-width: 320px;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
  }
  .title-container h1 {
    font-size: 1.8rem;
    padding-bottom: 1.5rem;
  }
  .subtitle {
    font-size: 1rem;
  }
  .bigger {
    font-size: 1rem;
  }
  .logo {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -10%);
  }
  .sidenav,
  .openBtn {
    display: block;
  }
  .lang-btn {
    left: 100%;
    transform: translateX(-100%);
  }
  .lang-btn button {
    padding: 1rem;
    border-radius: 50% 0% 100% 50%;
    font-weight: bold;
    font-size: 1.2rem;
    border: solid 2px var(--red);
    color: var(--red);
    background-color: var(--black);
    line-height: 1.5rem;
    cursor: url("../assets/images/colombe-red.svg"), pointer;
  }
  .articles article {
    padding: 1rem;
  }
  .articles article p::first-letter {
    font-size: 1.6rem;
  }
  .articles article p {
    font-size: 1.3rem;
  }
  .articles article h3 {
    font-size: 1.6rem;
  }
  .pdf {
    max-width: 95%;
  }
  .agenda-container aside {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .agenda-container aside div {
    width: 80%;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .actions {
    justify-content: center;
  }
  h3 {
    max-width: 88%;
  }
  .youtube {
    width: 600px;
    height: 340px;
  }
  iframe.youtube {
    width: 600px;
    height: 340px;
  }
}

@media (max-width: 740px) {
  section.contactF {
    min-height: 125dvh;
  }
  #contactForm {
    flex-direction: column;
    padding: 1rem 1rem 10.5rem 1rem;
  }

  #contactForm .ok {
    bottom: 2.5rem;
  }
  .send {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .form-container {
    flex-direction: column;
    padding: 0;
    top: 70dvh;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /* iframe.auposte {
    width: 560;
    height: 315;
 
  } */
}
@media screen and (max-width: 600px) {
  iframe.youtube {
    width: 450px;
    height: 300px;
  }
  figcaption {
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 500px) {
  .title-container {
    top: 180px;
    width: 60dvw;
    text-align: center;
  }
  .logo {
    height: 12dvh;
    margin-top: 10dvh;
  }
  .link-top {
    bottom: 50%;
    background-color: var(--bg2);
    border-radius: 5px;
    padding: 3px;
    transform: translateY(50%);
  }
  /* .link-top a {
    color: var(--black);
  } */
  .actu {
    min-height: 5.5rem;
  }
}

@media screen and (max-width: 460px) {
  iframe.youtube {
    width: 300px;
    height: 168px;
  }
  .title-container {
    top: 65px;
  }
  .title-container h1 {
    font-size: 1.6rem;
  }
  .logo {
    height: 12dvh;
    margin-top: 11dvh;
  }
}
@media screen and (max-width: 355px) {
  .actu {
    min-height: 7rem;
  }
}
