*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
:root {
  --grey: #bbc6ce;
  --green: #259d50;
  --red: #ce061f;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
p::first-letter {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--green);
}

header {
  background-color: var(--green);
  width: 100dvw;
  height: 30dvh;
  background-image: url(assets/images/banner2.jpg);
  background-position: center;
  background-size: auto max(380px, 30dvh);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 2dvw;
  gap: 1dvw;
  justify-content: space-between;
  position: relative;
}
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  height: 20dvh;
  border-radius: 50%;
}
h1 {
  background-color: black;
  color: whitesmoke;
  padding: 1.5dvw;
  border-radius: 15px;
  font-size: 3rem;
}
.grey {
  color: var(--grey);
}
.green {
  color: var(--green);
}
.red {
  color: var(--red);
}
nav {
  background-color: black;
  position: absolute;
  top: 30dvh;
  left: 0;
  padding: 1dvw;
  font-size: 1.5rem;
  text-transform: uppercase;
  z-index: 99;
}
nav a {
  color: whitesmoke;
}
.nav {
  width: 100dvw;
  display: flex;
  justify-content: space-evenly;
}
section {
  min-height: 100dvh;
  width: 100dvw;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding-top: 5dvh;
  position: relative;
  padding-top: 10dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2dvh;
}
.accueil {
  min-height: 70dvh;
  background-image: url(assets/images/bg1.jpg);
  /* padding-top: 10dvh; */
}
.agenda {
  background-image: url(assets/images/bg2.jpg);
}
.comprendre {
  background-image: url(assets/images/bg3.jpg);
}
.liens {
  background-image: url(assets/images/bg4.jpg);
}
.contact {
  background-image: url(assets/images/bg5.jpg);
}

#agenda,
#comprendre,
#liens,
#contact {
  position: absolute;
  top: 0;
}
.title {
  display: flex;
  justify-content: center;
}
h2 {
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--green);
  padding: 0.5rem;
  border-radius: 5px;
  text-transform: uppercase;
}
.agenda-frame {
  max-width: 90dvw;
  max-height: 90dvh;
}

/* agenda */
.agenda-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* background-color: rgba(0, 0, 0, 0.2);
  padding: 2dvh;
  border-radius: 5px; */
  gap: 1dvh;
}
.agenda-container a {
  background-color: whitesmoke;
  padding: 0.2rem;
  border-radius: 2px;
}
.black-bg {
  background-color: black;
  color: whitesmoke;
  padding: 0.2rem;
  border-radius: 2px;
}
/* accueil */
h3 {
  text-transform: uppercase;
  color: var(--red);
}
article {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(245, 245, 245, 0.8);
  padding: 2dvh;
  border-radius: 5px;
  gap: 1dvh;
  max-width: 500px;
}
.accueil-container {
  width: 90dvw;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 2dvh;
  border-radius: 5px;
  gap: 1dvh;
}
.accueil-container ul {
  display: flex;
  flex-direction: column;
  gap: 1dvh;
}
.actions {
  width: 90dvw;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 2dvh;
  border-radius: 5px;
  gap: 1dvh;
}
article.pdf {
  min-width: 95dvh;
}
figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: relative;
}
figure img {
  width: 70%;
}
.h3-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
figcaption {
  padding-bottom: 2rem;
}
.margin-link {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 90%;
  display: flex;
  justify-content: end;
  gap: 2rem;
}
